<?xml version="1.0"?>
<configuration>
  <sitecore>
    <pipelines>
      <initializeContainer>
        <processor type="SitecoreDev.Feature.Media.Pipelines.InitializeContainer.RegisterDependencies, SitecoreDev.Feature.Media" />
      </initializeContainer>
    </pipelines>
  </sitecore>
</configuration>
